@import "tailwindcss";

.hide {
  display: none;
}

@media screen and (max-width: 576px) {
  #copyButton {
    height: 40px;
  }
  #navbar {
    flex-direction: column;
  }
  #Background {
    flex-direction: column;
    height: 350px;
  }
  #card-section {
    display: flex;
    flex-direction: column;
  }
  .totalCard {
    flex-direction: column-reverse;
  }
  #card-section {
    width: 100%;
  }
  .historyRes {
    width: 100%;
  }
  .cardOne {
    width: 210px;
    height: 50px;
  }
}

@media screen and (max-width: 992px) {
  .totalCard {
    flex-direction: column-reverse;
  }
  #card-section {
    width: 100%;
  }
  .historyRes {
    width: 100%;
  }
  #card-section {
    grid-template-columns: repeat(2, 1fr);
  }

  #Background {
    flex-direction: column;
    height: 350px;
  }
}
